
.changelog-list, .changelog-list li { list-style-type: none; list-style: none; margin-left: 0px; padding-left: 0px; font-size: 13px; line-height: 22px; font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace; }

.changelog-list { margin-bottom: 30px; }
.changelog-list a { color: #7cc576; }
.changelog-list a:hover { color: #000; }

.changelog-legend {
    background: #f6f6f6;
    color: #777;
    font-size: 13px;
    line-height: 22px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
    padding: 20px 30px;
    margin-top:5px;
}
